.navbar {
  background-color: lightblue;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 8px -6px black;
  z-index: 3;
}

.logo {
  max-height: 60px;
  width: auto;
  margin-left: 20px;
}

.navs {
  margin-right: 20px;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
